<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Chat Page</title>
</head>
<body>
    <main id="app">
        <div class="logo">
            <img src="images/buslogo.png" alt="bus logo">
        </div>

        <!-- vue custom message component goes here-->

        <section class="messages">
            <ul id="messages" v-for="message in messages">
                <newmessage :msg="message" :socketid="socketID"></newmessage>
            </ul>
        </section>
        <!-- <div v-if="ready"><p v-for="name in info">{{name.nickname}}{{name.type}}</p></div> -->
        
        <div class ="nameCon" v-if="!ready">
                
            <h4>Enter your nick name:</h4>
            <input type="text" class="nickname" v-model="nickname" placeholder="Enter your nickname here">
            <input @click.prevent="addUser" type="submit" value="Join" class="name-area" >
            
        </div>
        <div class="background"><img src="images/bustop.png" alt="bus stop"></div>
        

        <section class="message-wrapper">
            
            <div class="mess-info">
                
                <p class='typing' v-if="typing">{{typing}} is typing...</p>
                <!-- <p class="users">{{connections}} in this chat</p> -->
            </div>

            <div class="mess-con" v-if="ready">
          
            <textarea v-model="message" class="text-message" type="text" autocomplete="off" placeholder="Type something here..."></textarea>
            <button @click.prevent="dispatchMessage" class="btn-mess"><i class="fa fa-paper-plane-o"></i></button>
            </div>
        </section>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer type="module" src="scripts/main.js"></script>
</body>
</html>